html, body {
    height: 92%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    flex: 0 0 10%;
}

.top-bar img {
    height: 40px;
    margin-right: 20px;
}

.toolbar {
    margin-left: auto;
}

.main {
    display: flex;
    padding: 20px;
    flex: 0 0 75%;
}

.main .section {
    flex: 1;
    padding: 20px;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    flex: 0 0 15%;
}